<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们_中央数字电视国学频道《中国少年梦》栏目官方网站</title>
    <meta name="description" content="《中国少年梦》的节目宗旨是用中国梦打牢广大青少年的共同思想基础">
    <meta name="keywords" content="中国少年梦,中央数字电视国学频道">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        .main{
            width:925px;
            height:1559px;
            margin:0 auto;
            background:transparent url("../img/about.png") no-repeat center center;
            background-size:cover;
        }
    </style>
</head>
<body>
<div class="hold">
    <div class="header">
        <div class="container">
            <div id="logo">
            </div>
            <ul class="nav">
                <li><a href="../index.html">首页</a></li>
                <li><a href="../index.html">节目活动</a></li>
                <li><a href="../index.html">新闻资讯</a></li>
                <!--                <li><a href="#">节目通告</a></li>-->
                <li><a href="./cooperation.html">机构合作</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">

</div>
<div class="section">
    <div class="footer">
        <div class="container white">
            <div class="title">
                <h1>中央数字电视国学频道《中国少年梦》栏目官方网站</h1>
            </div>
            <div class="footer-line"></div>
            <span class="contact-way">
                热线电话：4006400520 &nbsp; &nbsp; &nbsp; &nbsp;
													&nbsp; &nbsp; 商谈合作：15801578862 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;商务邮箱：xdtvss@163.com &nbsp; &nbsp; &nbsp;
													&nbsp; &nbsp; &nbsp;地址：北京市星光影视园20号楼六层
            </span>
            <span class="footer-info">©2018 - 版权：信大文化体育产业有限公司</span>
            <span class="footer-support">《中国少年梦》 | 综艺节目 版权所属 www.xdtvs.com | All Rights Reserved.</span>
            <div class="group"></div>
        </div>
    </div>
</div>
</body>
</html>
